@charset "utf-8";
body,ul,div,p,h1,h2,h3,h4,h5,h6{margin: 0;padding: 0;}
a,a:hover,a:active,a:visited{text-decoration: none;color: #333;}
li{list-style: none;}

body{
	
}
.top{
	width: 100%;
}
.top_bar{
	background: url('../images/index_68.png') no-repeat;
	background-position: center;
	height: 108px;
	margin: 0 auto;
	overflow: hidden;
}
.w1600{
	/*width: 1600px;*/
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}
.w1000{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
.logo{
	float: left;
	margin: 20px 0;
}
.login{
	overflow: hidden;
}
.login_box{
    width: 300px;
    overflow: hidden;
    background: url('../images/index_67.png');
    float: right;
    color: #fff;
    height: 34px;
    font-size: 13px;
    line-height: 34px;
}
.login_welcome{
	float: left;
	margin-left: 10px;
}
.login_login{
	float: right;
	margin-right: 10px;
}
.login_login a{
	color: #fff;
	font-size: 13px;
    line-height: 34px;
}
.login_cart{
	float: right;
}
.top_right{
	float: right;
}
.nav_tag_hot{
    position: absolute;
    left: 46px;
    top: 5px;
}
.nav{
	overflow: hidden;
	margin: 15px 0 20px 0;
}
.nav ul li{
	    float: left;
    margin-right: 20px;
	    font-size: 15px;
    font-family: 微软雅黑;
        position: relative;
    height: 40px;
    line-height: 54px;

}
.nav ul li:last-child{
	margin-right: 0;
}
.nav ul li a{
color: #fff;
}
.nav ul li a:hover{
color: #f97d01;
}
.news_index{
	margin-top: 20px; 
}
.news_bar{
	width: 316px;
	float: left;
	margin-right: 26px;
}
.news_bar:nth-child(3){
	margin-right: 0;
}
.news_cat_title_font{
	    float: left;
    padding-bottom: 5px;
    border-bottom: 1px solid #f97d01;
    color: #f97d01;
        font-weight: bold;
}
.news_more{
	    float: right;
    padding-bottom: 5px;
    border-bottom: 1px solid #333333;
    color: #333333;
    text-align: right;
    width: 73%;
    margin-right: 1px;
}
.news_more a{
	font-size: 14px;
}
.news_first img{
	margin: 10px 0;
}
.news_cat_title_font img{
	  margin-bottom: 10px;
    margin-right: 10px;
}
.news_time,.news_content{
	color: #989898;
	font-size: 13px;
	font-family: 微软雅黑;
	height: 36px;
	overflow: hidden;
}
.news_title{
	    margin: 5px 0;
    font-family: 微软雅黑;
    font-size: 15px
}
.news_title img{
	    margin-bottom: 4px;
    margin-right: 7px;
}
.news_other .news_title{
	font-family: 新宋体;
    font-size: 14px;
}
.news_first,.news_other{
	    border-bottom: 1px dashed #888;
	    padding-bottom: 10px;
	    margin-bottom: 5px;
}
.news_title a:hover{
	color: #f97d01;
}
.chanpin_index{
	margin-top: 35px;
	margin-bottom: 35px;
}

.chanpin_desc{
	float: left;
	width: 49%;
}
.gean_desc{
	float: right;
	width: 49%;
}
.chanpin_desc .news_more,.gean_desc .news_more{
	width: 83%;
}
.gean_row{
	width: 240px;
	float: left;
	margin-right: 10px;
	border-bottom: 1px dashed #888;
	    padding: 10px 0;
}
.gean_info a img{
	float: left;
	margin-right: 5px;
}
.gean_info .news_title{
	font-size: 12px;
}
.gean_info .news_content{
	font-size: 12px;
}
.gean_row:nth-child(2){
	margin-right: 0;
}
.gean_row:nth-child(4){
	margin-right: 0;
}
.chanpin_detail{
	float: left;
	margin-right: 12px;
	margin-top: 10px;
}
.chanpin_title{
	text-align: center;
	font-family: 微软雅黑;
	margin-top: 10px;
}
.chanpin_detail:nth-child(3){
	margin-right: 0;
}
.w100{
	width: 100%;
}
.tuijian_index{
	background-color: #e7e7e7;
}
.tuijian_part{
	width: 196px;
	float: left;
	text-align: center;
	    padding: 40px 0;
	    margin-right: 5px;
}
.tuijian_part:nth-child(5){
	margin-right: 0;
}
.gray_bar{
	width: 100%;
	height: 3px;
	background-color: #999999;
	margin: 10px 0;
}
.tuijian_title{
	    font-size: 13px;
    font-family: 微软雅黑;
    color: #f87d01;
    margin-top: 20px;
}
.tuijian_content{
	   font-size: 13px;
    font-family: 微软雅黑;
    color: #aaa;
    margin-top: 20px;
}
.footer-bg{
	background: url('../images/index_66.png') no-repeat;
	background-position: center;
	height: 80px;
	position: relative;
}
.lianxi{
	margin-top: 20px;
	overflow: hidden;
}
.lianxi ul li{
	    float: left;
    font-size: 14px;
    margin-right: 15px;
}
.copyright{
	font-size: 14px;
    margin-top: 10px;
}
.help_index{
	text-align: right;
	font-size: 13px;
	color: #999999;
}
.help_index a{
	font-size: 13px;
	color: #999999;
	font-family: 微软雅黑;
}
.help_index a:hover{
	color: #f97d01;
}
.online_zixun{
	position: absolute;
	left: 95%;
	top: -435px;
	width: 40px;
}

/*********登陆&注册页面css***********/
.reg_main{
	margin: 20px 0;
}
.reg_body{
	height: 535px;
	border: 1px solid #d6d6d6;
}
.reg_left{
	    float: left;
    padding-right: 60px;
    margin: 86px 0 86px 80px;
    border-right: 1px solid #bfbfbf;
}
.reg_right{
	float: right;
	width: 45%;
	margin-top: 80px;
}
.page_title{
	font-size: 30px;
	color: #f97d01;
	font-family: 黑体;
	margin-bottom: 20px;
}
.zhanghu{
    width: 310px;
    height: 30px;
    margin-bottom: 10px;
    background: url('../images/reg_06.png') no-repeat;
    background-position: 7px;
    padding-left: 40px;
    font-size: 16px;
    font-family: 微软雅黑;
    border: 1px solid #ddd;
}
.mima{
    width: 310px;
    height: 30px;
    margin-bottom: 10px;
    background: url('../images/reg_09.png') no-repeat;
    background-position: 7px;
    padding-left: 40px;
    font-size: 16px;
    font-family: 微软雅黑;
    border: 1px solid #ddd;
	
}
.verify{
		width: 100px;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    font-family: 微软雅黑;
    border: 1px solid #ddd;
}
.yanzhengma{
	/* position: relative; */
}
.yanzhengma img{
	position: relative;
	top: 7px;
}
.yanzhengma span{
	font-size: 13px;
}
.yanzhengma span a{
	color: #f97d01;
}
label[for=checkboxid]{
	font-size: 14px;
	margin-right: 80px;
}
label[for=checkboxid2]{
	font-size: 14px;
	margin-right: 50px;
}
label[for=checkboxid] a{
	text-decoration: underline;
}
label[for=checkboxid2] a{
	text-decoration: underline;
}
.tiaokuan span{
	font-size: 14px;
}
.reg_now{
    width: 355px;
    height: 45px;
    font-size: 25px;
    font-family: 黑体;
    background-color: #f97d01;
    color: #fff;
    border: 0;
    margin-top: 20px;
}

/******产品列表页css******/
.url_here{
	padding: 10px 0;
	border-bottom: 1px dashed #ddd;
}
.url_here a{
	font-size: 14px;
	font-weight: bold;
	margin-right: 10px;
}
.goods_cat{
	/* margin-top: 20px; */
	float: left;
	overflow: hidden;
}
.w210{
	width: 210px;
}
.w760{
	width: 760px;
}
.cat_block{
	width: 210px;
}
.goods_list{
	float: right;
}
.cat_title{
	background-color: #f87d01;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
}
.cat_title img{
	margin-right: 10px;
}
.cat_child{
	background-color: #f2f2f2;
	padding: 10px;
}
.cat_child li{
		padding: 8px;
    font-size: 13px;
    font-family: 微软雅黑;
}
.cat_child li img{
	margin-right: 10px;
}
.cat_child li:hover{
	background-color: #e2e2e2;
}
.hot_tag{
	padding: 10px;
	background-color: #f2f2f2;
	overflow: hidden;
}
.tag_row{
	float: left;
	padding: 5px 10px;
	background-color: #bbbbbb;
	font-size: 12px;
	margin-right: 2px;
	margin-bottom: 4px;
	color: #fff;
}
.tag_row:hover{
	background-color: #f87d01;
}
.cat_jian{
	font-size: 9px;
	margin-right: 10px;
	padding: px;
}
.goods_one{
	width: 224px;
	height: 290px;
	margin-right: 44px;
	position: relative;
	background-color: #f2fbff;
	float: left;
	margin-bottom: 30px;
}
.add_cart_div{
	height: 30px;
	line-height: 30px;
	display: none;
	text-align: center;
	background-color: #f87d01;
	opacity: 0.7;
	position: absolute;
	top: 138px;
	width: 221px;
	font-size: 14px;
	font-family: 微软雅黑;
}
.add_cart_div a{
	color: #fff;
}
.text{
	margin-top: 20px;
	margin-bottom: 40px;
}
.cat_goods_title{
	text-align: center;
	padding: 10px 0;
	border-bottom: 2px dashed #ddd;
	font-family: 微软雅黑;
}
.cat_goods_desc{
    font-size: 13px;
    color: #999999;
    font-family: 微软雅黑;
    height: 51px;
    border-bottom: 5px solid #000;
    padding: 10px 5px;
}
.noright{
	margin-right: 0;
}
.goods_jifen_one{
	width: 760px;
	padding: 10px;
	overflow: hidden;
	border-bottom: 1px dashed #ddd;
}
.goods_jifen_one img{
	float: left;

}
.cat_goods_jifen{
	float: left;
	margin-left: 20px;
	
}
.jifen_title{
	font-size: 20px;
	font-family: 微软雅黑;

}
.jifen_desc{
	font-family: 微软雅黑;
	font-size: 14px;
	padding: 10px 0;
	color: #666;
}
.jifen_price{
	color: #f87d01;
	font-size: 25px;
	margin-right: 5px;
}
.jifen_duihuan a{
	font-family: 微软雅黑;
	font-size: 15px;
}
.goods_service_one{
    width: 755px;
    height: 242px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 3px #ccc;
    margin-bottom: 30px;
}
.goods_service_img{
	float: left;
}
.goods_service_info{
    padding: 20px;
    width: 235px;
    float: right;
}
.goods_service_title{
    font-family: 微软雅黑;
    font-weight: bold;
    font-size: 19px;
}
.goods_service_title a:hover{
	color: #f87d01;
}
.goods_service_detail{
	font-size: 14px;
	font-family: 微软雅黑;
	color: #333;
	padding: 20px 0;
}
.date_title{
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
.date_time{
	width: 90px;
	height: 90px;
	text-align: center;
	float: left;
	background-color: #e9e9e9;

}
.date_time_day{
		font-size: 35px;
    color: #f87d01;
    margin: 10px 0;
    font-family: 微软雅黑;
}
.service_info{
	float: left;
	width: 610px;
	margin-left: 60px;
}
.date_time_date{
	   font-size: 13px;
    font-family: 微软雅黑;
    color: #999;
}
.service_obj_row{
	width: 100%;
	overflow: hidden;
	padding: 10px 0;
	border-bottom: 1px dashed #ccc;
}
.date_th{
    margin-right: 96px;
    width: 90px;
    margin-left: 28px;
    font-family: 微软雅黑;
    font-size: 13px;
    font-weight: bold;
    color: #999999; 
}
.title_th{
	font-family: 微软雅黑;
    font-size: 13px;
    font-weight: bold;
    color: #999999;
}
.service_info_title{
	margin-top: 15px;
	font-family: 微软雅黑;
	font-size: 16px;

}
.service_read_num{
    margin-top: 15px;
    font-family: 微软雅黑;
    font-size: 16px;
    float: left;
    margin-left: 108px;
}
.service_info_title a:hover{
	color: #f87d01;
	text-decoration: underline;
}
.service_info_desc{
	font-size: 13px;
	color: #666;
	margin-top: 10px;
}
.page_one{
	width: 25px;
	height: 25px;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 25px;
	float: left;
	margin-right: 7px;
	color: #999;
}
.page_on, .page_one:hover{
	color: #fff;
	background-color: #f87d01;
}
.page_row{
	margin: 20px 0;
	overflow: hidden;
}
.cat_child .cat_goods_tuijian{
	padding: 0;
}
.cat_goods_tuijian_title{
	text-align: center;
	padding: 10px 0;
}
.goods_img_fangda{
	float: left;
	width: 357px;
	height: 345px;
}
.goods_option{
	overflow: hidden;
}
.goods_option_detail{
	float: left;
	margin-left: 15px;
}
.goods_title{
	font-family: 微软雅黑;
	font-size: 20px;
	margin-bottom: 10px;
}
.goods_title_desc{
	color: #f87d01;
	font-size: 15px;
	font-family: 微软雅黑;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.goods_price_desc{
	margin: 10px 0 20px 0;
	font-size: 13px;
	font-family: 微软雅黑;
}
.option_attr{
	font-weight: bold;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
	font-size: 14px;
}
.goods_option_row{
	margin: 10px 0;
	overflow: hidden;
}
.goods_option_one{
	float: left;
	background-color: #eaeaea; 
	font-size: 12px;
	font-family: 微软雅黑;
  text-align: center;
  width: 104px;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
  cursor: pointer;
}
.option_select{
	background: url('../images/goods_09.png') no-repeat;
	
}
.goods_price{
	margin-left: 20px;
	margin-right: 10px;
	font-size: 25px;
	color: #f87d01;
	font-family: 微软雅黑;

}
.goods_num{
	margin: 20px 0;
}
.goods_num_title{
	font-size: 13px;
	font-family: 微软雅黑;
}
.goods_desc{
	margin: 40px 0 50px 0;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
.goods_desc_title{
	font-weight: bold;
	padding: 5px 0;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
}
.goods_desc_info{
	font-family: 微软雅黑;
	color: #555;
	font-size: 15px;
	padding: 30px 0;
}
.article_desc_title{
	font-family: 微软雅黑;
	font-size: 22px;

}
.article_desc_info{
	font-family: 微软雅黑;
	color: #555;
	font-size: 15px;
	padding: 15px 0 30px 0;
	border-bottom: 5px solid #ccc;
	margin-bottom: 10px;
}
.aricle_time{
    font-size: 12px;
    font-family: 微软雅黑;
    color: #555;
    float: right;
    padding-top: 15px;
}
.article_prev_next{
	font-size: 12px;
	font-family: 微软雅黑;
	color: #555;
}
.article_prev_next a{
	color: #333;
}
.article_prev{
	float: left;
}
.article_next{
	float: right;
}
.contact_text{
	padding: 30px 0;
	border-bottom: 5px solid #ccc;
	margin-bottom: 40px;
}
.contact_left{
	float: left;
	width: 480px;
}
.contact_right{
	float: left;
	width: 480px;
}
.contact_title{
	padding: 2px 15px;
	background-color: #f87d01;
	color: #fff;
	font-family: 微软雅黑;
	font-size: 14px;
	margin-bottom: 30px;
	width: 56px;
}
.contact_content{
	margin-bottom: 10px;
	font-family: 微软雅黑;
	font-size: 14px;
}
.contact_erweima{
	margin: 10px 0 0 72px;
}
.mt20{
	margin-top: 20px;
}
.liuyan_title{
	padding-bottom: 3px;
	font-family: 微软雅黑;
	font-size: 15px;	
}
.form_control input{
	height: 25px;
	width: 330px;
	line-height: 30px;
	font-size: 15px;
}
.form_control .liuyan_theme{
	width: 100%;
}
.form_control textarea{
	width: 100%;
	height: 200px;
	max-height: 200px;
	max-width: 480px;
}
.form_control .liuyan_submit{
	width: 86px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	background-color: #f87d01;
	color: #fff;
	font-family: 微软雅黑;
	font-size: 17px;
	margin-top: 10px;
	border:0;
}